@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Venue/HostPageTemplate.cshtml";
}

<input type="hidden" id="venueid" value="@Request.QueryString["venueid"]" />
<input type="hidden" id="hostid" value="@Request.QueryString["hostid"]" />

<div class="row">
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#addplace" aria-controls="" role="tab" data-toggle="tab">Add Place</a></li>
            <li role="presentation"><a href="#contact" aria-controls="" role="tab" data-toggle="tab">Contact</a></li>
            <li role="presentation"><a href="#charplace" aria-controls="" role="tab" data-toggle="tab">Characterization Place</a></li>
            <li role="presentation"><a href="#placedesc" aria-controls="settings" role="tab" data-toggle="tab">Place Description</a></li>
            <li role="presentation"><a href="#acttime" aria-controls="settings" role="tab" data-toggle="tab">Activity Time</a></li>
            <li role="presentation"><a href="#halls" aria-controls="settings" role="tab" data-toggle="tab">Halls</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="addplace">
                <div class="content-container">
                    <form action="" method="post" id="frmAddPlace" novalidate="novalidate">
                        <div class="alert alert-success" id="alert-success">
                            Successfully updated venue initial detail!
                        </div>

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Name of Venue</label>
                                    <input type="text" id="venuename" value="@Session["VenueName"]" readonly="readonly" name="venuename" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Type of Venue</label>
                                    <select id="venuetype" name="venuetype" class="form-control">
                                        <option value="">Select..</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Foundation Year</label>
                                    <input type="text" id="foundationyear" name="foundationyear" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Registration #</label>
                                    <input type="text" id="regno" name="regno" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Renovation Year</label>
                                    <input type="text" id="renovationyear" name="renovationyear" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Area (sq)</label>
                                    <input type="text" id="area" name="area" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Open spaces of the place</label>
                                    <input type="text" id="openspaces" name="openspaces" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Service</label>
                                    <select id="service" name="service" class="form-control">
                                        <option value="">Select..</option>
                                        <option value="SpaceRent">Space rent only</option>
                                        <option value="Packages">Packages</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Season Activity</label>
                                    <select id="seasonactivity" name="seasonactivity" class="form-control">
                                        <option value="">Select..</option>
                                        <option value="AllOfYear">All of the Year</option>
                                        <option value="Seasonal">Seasonal</option>
                                    </select>

                                    <select id="seasonal" name="seasonal" class="form-control">
                                        <option value="">Select..</option>
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                        <option value="April">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="July">July</option>
                                        <option value="August">August</option>
                                        <option value="September">September</option>
                                        <option value="October">October</option>
                                        <option value="November">November</option>
                                        <option value="December">December</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <select id="country" name="country" class="form-control">
                                        <option value="">Select..</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" id="city" name="city" class="form-control" />
                                    @*<select id="city" name="city" class="form-control">
                                        <option value="Select">Select..</option>
                                    </select>*@
                                </div>
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" id="street" name="street" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Zip Code</label>
                                    <input type="text" id="zipcode" name="zipcode" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="submit" value="Update" class="btn btn-primary form-control" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="contact">
                <div class="content-container">
                    <form action="" method="post" id="frmAddContact" novalidate="novalidate">
                        <div class="alert alert-success" id="alert-contact-success">
                            Successfully updated venue contact detail!
                        </div>

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" id="phone" name="phone" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Phone 2</label>
                                    <input type="text" id="phone2" name="phone2" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input type="text" id="fax" name="fax" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" id="email" name="email" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>What is your position</label>
                                    <input type="text" id="position" name="position" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>External Manage Company Name</label>
                                    <input type="text" id="extmancomp" name="extmancomp" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <input type="submit" value="Update" class="btn btn-primary form-control" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="charplace">
                <div class="content-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Type of Construction</label>
                                <input type="file" id="phone" />
                            </div>
                            <div class="form-group">
                                <label>Open Areas</label>
                                <input type="file" id="openareas" />
                            </div>
                            <div class="form-group">
                                <label>A View</label>
                                <input type="file" id="view" />
                            </div>
                            <div class="form-group">
                                <label>Max Number of Rooms/Areas/Enclosures assigned</label>
                                <input type="file" id="roomsareasenclosures" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Parking</label>
                                <input type="file" id="parking" />
                            </div>
                            <div class="form-group">
                                <label>Privacy</label>
                                <input type="file" id="privacy" />
                            </div>
                            <div class="form-group">
                                <label>Pages In</label>
                                <input type="file" id="pagein" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="placedesc">
                <div class="content-container">
                    <form action="" method="post" id="frmPlaceDesc" novalidate="novalidate">
                        <div class="alert alert-success" id="alert-placedesc-success">
                            Successfully updated place description!
                        </div>

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Description of the Place</label>
                                    <textarea rows="6" cols="10" id="placedescription" name="placedescription" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Distinct Advantage</label>
                                    <textarea rows="6" cols="10" id="advantage1" name="advantage1" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Distinct Advantage 2</label>
                                    <textarea rows="6" cols="10" id="advantage2" name="advantage2" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="events-container">
                                    <div class="private-events-list">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Social/Private Events</h3>
                                            </div>
                                            <div class="panel-body">
                                                <ul id="private-events"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="events-container">
                                    <div class="corporate-events-list">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Business Events</h3>
                                            </div>
                                            <div class="panel-body">
                                                <ul id="corporate-events"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="submit" value="Save" class="btn btn-primary form-control" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="acttime">
                <p>Add activity time here</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="halls">
                <p>Add halls here</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}