<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Host</title>

    @Styles.Render("~/Content/template/css/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Session["VenueName"].ToString(), "Dashboard", "Venue", new { hostid = Request.QueryString["hostid"] }, new { @class = "navbar-brand" })
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Welcome @Session["VenueName"] <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li>
                            @*<a href="UserLogout.php"><i class="fa fa-fw fa-power-off"></i> Log Out</a>*@

                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                }
                            }
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        @Html.ActionLink("Home", "Dashboard", "Venue", new { hostid = Session["UserId"].ToString() }, null)
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" data-toggle="collapse" data-target="#settings">Settings</a>
                        <ul id="settings" class="collapse">
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#main">Main @Session["VenueId"]</a>
                                <ul id="main" class="collapse third-level-menu">
                                    <li>@Html.ActionLink("Add Place", "Page", "Venue", new { venueid = Session["VenueId"], mainmodule = "Settings", parentmodule = "Main", childmodule = "AddPlace" }, new { })</li>
                                    <li>@Html.ActionLink("Contact", "Page", "Venue", new { venueid = Session["VenueId"], mainmodule = "Settings", parentmodule = "Main", childmodule = "Contact" }, new { })</li>
                                    <li>@Html.ActionLink("Characterization Place", "Page", "Venue", new { venueid = Session["VenueId"], mainmodule = "Settings", parentmodule = "Main", childmodule = "Characterization" }, new { })</li>
                                    <li>@Html.ActionLink("Place Description", "Page", "Venue", new { venueid = Session["VenueId"], mainmodule = "Settings", parentmodule = "Main", childmodule = "Description" }, new { })</li>
                                    <li>@Html.ActionLink("Activity Time", "Page", "Venue", new { venueid = Session["VenueId"], mainmodule = "Settings", parentmodule = "Main", childmodule = "ActivityTime" }, new { })</li>
                                    <li>@Html.ActionLink("Halls", "Page", "Venue", new { venueid = Session["VenueId"], mainmodule = "Settings", parentmodule = "Main", childmodule = "Halls" }, new { })</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Administrative", "Page", "Venue", new { mainmodule = "Settings", parentmodule = "Administrative" }, new { })</li>
                            <li>@Html.ActionLink("Operative", "Page", "Venue", new { mainmodule = "Settings", parentmodule = "Operative" }, new { })</li>
                            <li>@Html.ActionLink("Food & Drinks", "FoodDrinks", "Settings")</li>
                            <li>@Html.ActionLink("Design", "Design", "Settings")</li>
                            <li>@Html.ActionLink("Multimedia", "Multimedia", "Settings")</li>
                            <li>@Html.ActionLink("Extras", "Extras", "Settings")</li>
                            <li>@Html.ActionLink("Gallery", "Gallery", "Settings")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#management">Management</a>
                        <ul id="management" class="collapse">
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#reviews">Reviews</a>
                        <ul id="reviews" class="collapse"></ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#statistics">Statistics</a>
                        <ul id="statistics" class="collapse"></ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#halls">VBOOKED</a>
                        <ul id="halls" class="collapse"></ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    @RenderSection("scripts", required: false)
</body>
</html>